body {

	background: url(images/background.jpg) repeat center top / cover;
	padding: 0;
	margin: 0;
	font-family: "Courier New", serif;
	font-size: 25px;

	color: white;
	text-decoration: none; 
	}

header {
	width: 1000px;
	height: 138px;
	margin-left: auto;
	margin-right: auto;
	background-color: #2d2d2d;
	
	/border: solid 1px;
	}

header .element {
	float: left;
	/text-align: right;
	
	/border: solid 1px;
	}

header .element:hover {
	
	}

.menu {
	width: 1000px;
	height: 34px;
	margin-left: auto;
	margin-right: auto;
	/background-color: #2d2d2d;
	background: white;
	/background: url(images/block.png) repeat center top / cover;
	}

.menu .element {
	width: 33%;
	float: left;
	text-align: center;
	font-size: 30px;

	color: #2d2d2d;
		
	/border: solid 1px;
	}

.container {
	width: 1000px;
	margin-left: auto;
    	margin-right: auto;
        background-color: #28365f;
	background: url("images/block.png") repeat;
	 
	/border: solid 1px;
	}

.container .element {
	float: left;
	/text-align: center;
	
	/border: solid 1px;
	}

footer {
	width: 100%;
	margin-left: auto;
    	margin-right: auto;
        background-color: #2d2d2d;
	/background: url("images/ ") repeat;
	 
	/border: solid 1px;
	}

.photocards {
   
	display: block;

	width: 200px;
	/margin: 10px;
	border: 10px solid #fff;

	margin: 10px;

 
	/border-radius: 10px;
  
	
}

.photocards:hover {
	box-shadow: 0 0 20px #2d2d2d;
	}

a {
	text-decoration: none;
	color: #8800af;
}

a:hover {
	color: #c600ff;
}

.sibling-fade > * { 
	transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms; 
	}

.sibling-fade:hover > * { 
	opacity: 0.4; transform: scale(0.9); 
	}

.sibling-fade > *:hover { 
	opacity: 1; 
	transform: scale(1); 
	transition-delay: 0ms, 0ms; 
	}

.sibling-fade {
	display: flex;
	flex-wrap: wrap;
	}

.sibling-fade > * {
	background: white;
	/padding: .1em;
	flex: auto;
	/margin: 60px;
	margin-top: 0px;
	margin-down: 0px;
	text-decoration: none;
	text-align: center;
	font-size: 30px;

	color: #c600ff;	
}

.galleria {
	width: 400px; 
	height: 700px; 
	/background: #ffff00;
	margin-left: auto;
    	margin-right: auto;
	}